# Global owners
* @Harsh127-pixel

# Backend paths
/fraudguard-backend/ @Harsh127-pixel

# ML paths
/fraudguard-backend/ml_training/ @Harsh127-pixel

# Frontend paths
/fraudguard-frontend/ @Harsh127-pixel
