# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models
models/
checkpoint-*/

# Frontend
node_modules/
dist/
.quasar/
