# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Firebase Configuration
# Path to your firebase-service-account.json
FIREBASE_SERVICE_ACCOUNT_PATH=path/to/firebase-service-account.json
FIREBASE_DATABASE_URL=https://your-project-id.firebaseio.com
